<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="0000110" android:versionName="Alpha 0.0.110">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="EquationApp.Droid"></application>
</manifest>