<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="1001004" android:versionName="1.0.004">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="EquationApp.Droid"></application>
</manifest>